body{
}

.logo{
	height: 80%;
	padding-top: 10%;
}

.brand-logo{
	margin-left: 1%;
}

.content{
	/*margin-top: 1vh;*/
	/*border: 1px solid grey;*/
}

.tbanyak{
	margin-top: 8vh;
}

.fjkomik{
	margin-top: 3vh;
}

.gambar{
	height: 30vh;
}

.judul-card{
	height: 15%;
}

.judul-font{
	font-size: 80%;
}

.hack{
	height: 80vh;
}

.hack2{
	height: 90vh;
}

.margin-top{
	margin-top: 8vh;
}


/* The animation code */
@keyframes ratingcolor {
	0%   {color: white;}
	20%  {color: darkred;}
	40%  {color: teal;}
	60%  {color: black;}
	80%  {color: orange;}
	100% {color: white;}
}

.shadow {
	/*margin-top: 0;
	animation-name: ratingcolor;
	animation-duration: 8s;
	animation-iteration-count: 1; 
	animation-timing-function: ease;*/

	/*text-shadow: 0px 0px 3px black, 0px 0px 8px white;*/
	/*box-shadow: 0px 0px 3px black;*/
	padding: 5px;
	border-radius: 2vw;
	background-color: grey;
	font-size: 3vh;
}

.shadow2 {
	padding: 1vw;
	border-radius: 1vh;
	background-color: grey;
	font-size: 3vw;
}

.border-bottom{
	border-bottom: 5px solid lime;
	background-color: teal;
	padding: 4vh;
	/*margin-left: 0;*/
}

.border-top{
	/*border-top: 2px solid #607D8B;*/
}

.padding-1vw{
	padding: 1vw;
}

.padding-2vw{
	/*padding: 2vw;*/
}

.padding-4vw{
	padding: 4vw;
}


@font-face {
	font-family: logo_font;
	src: url(../font/AgentOrange.ttf);
	/*font-weight: bold;*/
}

.brand-logo{
	margin-left: 1%;
}

.logo{
	font-family: logo_font;
	margin-top: -20px;
}

@media all and (max-width: 480px) {
	.logo{
		font-size: 6vw;
		margin-top: -10px;
	}
}

.sidelogo{
	width: 100%;
}

.sidebar{
	min-height: 650px;
}

.footer-top{
	width: 100%;
	height: 5vh;
	margin-top: -20px;
	margin-bottom: -20px;
	
}